@media only screen and (max-width: 1150px) {
  .statistics {
    flex-direction: column;
  }

  #pies {
    width: 92%;
  }

  .job-description {
    flex-direction: column;
  }

  .table {
    width: 100%;
    margin-bottom: 40px;
  }

  .table-styling {
    width: 100%;
  }

  .explore-links, .post-button {
    width: 80%;
  }

  .social-media {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 1025px) {  
  #links ul li {
    margin-top: 20px;
  }

   #heading {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 765px) {
  #nav-panel {
    display: none;
  }

  #pies {
    flex-direction: column;
    justify-content: center;
    width: 72%;
  }

  #pies svg {
    width: 100%;
    height: 100%;
  }

  .chart img {
    width: 20rem;
  }

  #links ul li{
  display: block;
  }
}


@media only screen and (max-width: 475px) {
  .top-panel {
    justify-content: center;
  }

  .search {
    display: none;
  }

  .top-icons {
    margin-left: 0px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .job-position {
    width: 100%;
    border-bottom: none;
  }

  .description-info p{
    margin: 0 20px;
  }

  .description-info {
    border-bottom: 1px solid #ededed;
  }

  .cell-p {
    height: 250px;
  }

  .sal {
    margin: 0;
  }

  .job-description-content .job-position {
     border-bottom: none; 
  }

}