/*left side nav panel*/

.side-panel {
  display: flex;
}

#nav-panel #profile-img {
  border-radius: 100%;
  height: 70px;
  margin-left: 81px;
  margin-top: 30px;
  width: 70px;
}

#line-1 {
  color: #2B3240;
  margin-left: 0px;
  margin-top: 9rem;
  position: relative;
  width: 248px;
}

#line-2, #line-3 {
  color: #2B3240;
  margin-left: 0px;
  position: relative;
  width: 248px;
}


li {
  cursor: pointer;
  list-style-type: none;
  position: relative;
  width: 200px;
}

li:hover {
  background-color: #2B3240;
  border-bottom: #FFFFFF;
  font-color: #FFFFFF;
  margin-left: 3px;

}

#main {
  color: #67738B;
  display: flex;
  font-size: 16px;
  margin-left: 1em;
  margin-top: 1rem;
}

#admin {
  color: #67738B;
  display: flex;
  font-size: 16px;
  margin-left: 1em;
  margin-top: 2rem;
}

#categories {
  color: #67738B;
  display: flex;
  font-size: 16px;
  margin-left: 1em;
  margin-top: 2rem;
}

h2 {
  position: relative;
}

.icon-home, .icon-jobs,
.icon-resumes, .icon-tasks,
.icon-calendar, .icon-users,
.icon-locations, .icon-workflows,
.icon-jobboards, .icon-social,
.icon-administrative, .icon-design,
.icon-executive, .icon-humanresources {
  color: #a0acbf;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-left: -1em;
}

.icon-home:hover, .icon-jobs:hover,
.icon-resumes:hover, .icon-tasks:hover,
.icon-calendar:hover, .icon-users:hover,
.icon-locations:hover, .icon-workflows:hover,
.icon-jobboards:hover, .icon-social:hover {
  color: #FFFFFF;
}

.icon-administrative, .icon-design,
.icon-executive, .icon-humanresources {
  color: #a0acbf;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-left: -1em;
}

#nav-panel h1 {
  color: #a0acbf;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-left: 5rem;
  margin-top: 3px;
  position: relative;
  }

#nav-panel {
  background-color: #354052;
  bottom: 0;
  display: inline-block;
  font-size: initial;
  min-height: 214%;
  position: absolute;
  top: 0;
  width: 250px;
}


/*top-panel*/

.top-panel {
  border-bottom: 1px solid;
  display: flex;
  display: flex;
  height: 43px;
  justify-content: space-around;
  margin-left: -45rem;
  margin-top: -59rem;
}


#main-content header {
  border-bottom: 2px solid #eef2f5;
  display: inline-block;
  height: 80px;
  width: 100%;
}

#menu-btn {
  margin-left: 17.5rem;
  margin-top: -57rem;
  vertical-align: top;
}

#add-user-btn {
  margin-left: 78rem;
  margin-top: -62rem;
  vertical-align: top;
}

#add-event-btn{
  margin-left: 82rem;
  margin-top: -62rem;
  vertical-align: top;
}

#settings-btn {
  margin-left: 86rem;
  margin-top: -62rem;
  vertical-align: top;
}

#job-title {
  color: #4e515e;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-size: 32px;
  font-weight: 400;
  line-height: 3rem;
  margin-left: 17rem;
  margin-top: 2rem;
}

#location {
  margin-left: 17rem;
  margin-top: -1rem;
}

.top-icons {
  border-left: 1px solid #e5e5e6;
  display: flex;
  width: 100%;
}

.top-icon {
  border-right: 1px solid #e5e5e6;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  width: 70px;
}

.top-icon:hover {
  background: #16a4fa;
}

#preview {
  color: #47A6F5;
  cursor: pointer;
}

#middle-section {
  display: flex;
}


#links ul li{
  display: inline;
  margin-left: .5rem;
}

#links {
  margin-left: 14rem;
}

#summary, #applicants, #job-board,
#interviews, #activity, #broadcast,
#notifications {
  color: #8B95A3;
  text-decoration: none;
}

#summary:hover,
#applicants:hover,
#job-board:hover,
#interviews:hover,
#activity:hover,
#broadcast:hover,
#notifications:hover {
  background-color: #FFFFFF;
  border-bottom: 3px blue;
  border-right: 0px;
  color: black;
}

/*charts*/

#chart {
  margin-left: -1rem;
  width: 25.5rem;

}

#statistics {
  background-color: #EDF2F6;
  display: flex;
  min-height: 200rem;
  width: 100%;
}

#pies {
  display: inline-flex;
  height: 35rem;
  margin-left: 17rem;
  margin-top: -8rem;
  width: 35rem;
}

#line-4 {
  margin-left: 3rem;
  margin-top: -182rem;
  width: 96%;
}




/*table and bottom section*/

.table {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  width: 69%;
}


.job-description {
  background: #edf2f6;
  display: flex;
  font-size: 14px;
  height: auto;
  padding: 40px;
  width: auto;
}

.job-description-content {
  display: table;
  width: 95%;
}

.cell {
  display: table-cell;
  height: 3rem;
  padding: 20px 20px 20px 0;
  vertical-align: middle;
}

.description-header {
  padding-left: 20px;
  width: 30%;
}

.job-position {
  width: 33%;
}

.summary-link {
  vertical-align: top;
  width: 31.5%;
}

.description {
  padding: 20px 20px 20px 20px;
}

.cell-p {
  display: table-cell;
  height: 3rem;
  padding: 21px 25px 20px 10px;
  table-layout: auto; 
  vertical-align: top;
  word-wrap: break-word;
}

.job-description-content div {
  border-bottom: 1px solid #ededed;
}

.description-header,
.edit-desc {
  background: #6f7e95;
  color: #fefcfe;
}

.description {
  background: #fafafc;
}

.description-info img {
  height: 40px;
  vertical-align: middle;
}

.description-info {
  background: #fafafc;
}

.description-info p {
  font-family: 'IBM Plex Sans', sans-serif;

}

.hiring-lead {
  background: #fafafc;
}

.hiring-lead p {
  display: inline;
  margin-left: 10px;
}

.hiring-lead img {
  height: 40px;
  vertical-align: middle;
}

.edit-desc img {
  height: 15px;
  position: relative;
  vertical-align: middle;
}

.edit-desc span{
  font-size: 1.1em;
  margin-left: 6px;
  vertical-align: middle;
}

.edit-desc-button {
  background-color:#7c8ba5;
  border-radius: 5%;
  color:#ffffff;
  cursor:pointer;
  font-size:13px;
  padding:6px 5px;
  text-decoration:none;
}

.edit-desc:active {
  top:1px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 80%;
}



.table-styling {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

.facebook {
  background: #4b70c3;
  color:#ffffff;
  cursor:pointer;
  font-size:18px;
  height: 40px;
  padding:9px 23px;
  text-align: center;
  text-decoration:none;
  width: 245px;
}

.twitter {
  background: #00abf0;
  color:#ffffff;
  cursor:pointer;
  font-size:18px;
  height: 40px;
  margin-top: 20px;
  padding:9px 23px;
  text-align: center;
  text-decoration:none;
  width: 245px;
}

.linkedin {
  background: #0381be;
  color:#ffffff;
  cursor:pointer;
  font-size:18px;
  height: 40px;
  margin-top: 20px;
  padding:9px 23px;
  text-align: center;
  text-decoration:none;
  width: 245px;
}

.social-media {
  align-items: space-around;
  display: flex;
  flex-direction: column;
}

.social-media img {
  height: 20px;
}

.link-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
}

.link-job img {
  height: 20px;
  vertical-align: middle;
}

.link-job h3 {
  display: inline;
  font-size: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

.link-job p {
  margin-bottom: 20px;
  margin-top: 10px;
}

.lorem-ipsum {
  margin-top: 16px;
}

.explore-links {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 92%;
}

.shorten-links {
  display: none;
}

.with-copy input {
  border: 1px solid #e5e5e6;
  height: 15px;
  margin-left: .1rem;
  padding: 15px 15px 15px 10px;
  width: 80%;
}

.without-copy input {
  border: 1px solid #e5e5e6;
  height: 15px;
  margin-left: .1rem;
  padding: 15px 0 15px 10px;
  width: 100%;
}

.link-title-wrapper {
  margin-bottom: 20px;
}

.input-copy {
  display: flex;
}

.copy-btn {
  background-color:#47bbc2;
  color:#ffffff;
  cursor:pointer;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}

.search {
  border-bottom: 1px solid #e5e5e6;
  margin-left: 60rem;
}


input {
  border-bottom: 1px solid #e5e5e6;
  height: 2.3rem;
  margin-left: 0rem;
  width: 42rem;
}
